.header-desktop {
    display: none;
}
* {
    font: inherit;
}
@font-face {
    font-family: Lemon Milk;
    src: url("fonts/LEMONMILK/LEMONMILK-Light.otf");
}
@font-face {
    font-family: Ostritch Sans;
    src: url("fonts/ostrich-sans/OstrichSans-Medium.otf");
}
@font-face {
    font-family: Louis George;
    src: url("fonts/louis_george_caf/Louis\ George\ Cafe.ttf");
}
@font-face {
    font-family: Jost;
    src: url("fonts/Jost/Jost-LightItalic.ttf");
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src: url("fonts/Jost/Jost-Light.ttf");
    font-style: normal;
}
h1 {
    font-family: "Lemon Milk";
    font-size: 2.5em;
    color: white;
}
h2 {
    font-family: "Ostritch Sans";
    font-size: 2.2em;
    letter-spacing: 0.05em;
    color: white;
}
h3 {
    font-family: "Louis George";
    font-size: 1.3em;
    color: white;
}
li, p {
    font-family: "Jost";
    font-size: 1em;
    font-style: normal;
}
.italic {
    font-style: italic;
}
header p, footer p {
    font-size: 0.9em;
}
.centered-image {
    width: 100%;
    object-fit: contain;
    display: block;
}
figure {
    margin: 0;
}
html {
    display: grid;
    background-color: #161c20;
    color: #e5e5e5;
    height: 100%;
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}
header {
    grid-area: header;
    box-shadow: 0px 2px 6px 0px black;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "logo menu-button" "nav nav";
    height: auto;
}
#nav {
    grid-area: nav;
    text-align: center;
    display: none;
}
.menu-button {
    grid-area: menu-button;
    text-align: right;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
#menu-button {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    outline: none;
}
#menu-button img {
    height: 2em;
}
nav a, footer a, .side-nav a {
    text-decoration: none;
    color: gray;
}
nav a:hover, footer a:hover, .side-nav a:hover {
    color: #00A2E8;
}
nav .logo {
    grid-area: logo;
}
header .logo a img {
    height: 2em;
    object-position: left;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
nav .about {
    grid-area: about;
}
nav .newsroom {
    grid-area: newsroom;
}
nav .portfolio {
    grid-area: portfolio;
}
nav .contact {
    grid-area: contact;
}
footer {
    grid-area: footer;
    background-color: black;
    color: gray;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "footer-content" "social-links" "footer-message";
}
.footer-content {
    grid-area: footer-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "site-logo site-logo"
    "about-links portfolio-links"
    "newsroom-links contact-links"
    "social-links social-links"
    "footer-message footer-message";
}
.footer-content .site-logo, .footer-content .about-links, .footer-content .newsroom-links, .footer-content .portfolio-links, .footer-content .contact-links {
    text-align: center;
}
.footer-content .site-logo {
    grid-area: site-logo;
}
.footer-content .site-logo img {
    margin-top: 1em;;
    height: 2.25em;
}
.footer-content .about-links {
    grid-area: about-links;
}
.footer-content .newsroom-links {
    grid-area: newsroom-links;
}
.footer-content .portfolio-links {
    grid-area: portfolio-links;
}
.footer-content .contact-links {
    grid-area: contact-links;
}
.social-links {
    grid-area: social-links;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    gap: 2em 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "youtube youtube youtube linkedin linkedin linkedin facebook facebook facebook messenger messenger messenger"
    "github github github github resume resume resume resume mail mail mail mail"
}
.youtube, .linkedin, .facebook, .messenger, .github, .resume, .mail {
    position: relative;
}
@keyframes twirl {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(90deg);}
}
.yt-c, .linkedin-c, .fb-c, .messenger-c, .github-c, .document-c, .mail-c {
    transform: rotateY(90deg);
}
.yt-d, .linkedin-d, .fb-d, .messenger-d, .github-d, .document-d, .mail-d {
    position: absolute;
}
.youtube:hover .yt-d, .linkedin:hover .linkedin-d, .facebook:hover .fb-d, .messenger:hover .messenger-d, .github:hover .github-d, .resume:hover .document-d, .mail:hover .mail-d {
    animation: twirl 0.2s ease-in forwards;
}
.youtube:hover .yt-c, .linkedin:hover .linkedin-c, .facebook:hover .fb-c, .messenger:hover .messenger-c, .github:hover .github-c, .resume:hover .document-c, .mail:hover .mail-c {
    animation: twirl 0.2s 0.2s ease-out forwards reverse;
}
.social-links img {
    height: 30px;
}
.youtube {
    grid-area: youtube;
}
.linkedin {
    grid-area: linkedin;
}
.facebook {
    grid-area: facebook;
}
.messenger {
    grid-area: messenger;
}
.github {
    grid-area: github;
}
.resume {
    grid-area: resume;
}
.mail {
    grid-area: mail;
}
.footer-message {
    grid-area: footer-message;
    text-align: center;
    font-size: 0.75em;
}
.footer-heading {
    font-weight: bold;
    font-size: 1em;
}
main {
    grid-area: main;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    text-align: justify;
}
.hmpg-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "intro"
    "hmpg-photo-grid"
    "hmpg-testimonials";
}
.intro {
    grid-area: intro;
    text-align: center;
    margin-bottom: 4em;
}
.intro h1 {
    color: white;
    margin: 0;
}
.hmpg-photo-grid {
    grid-area: hmpg-photo-grid;
    width: 100vw;
    text-align: center;
    display: grid;
    gap: 1.5em;
    margin-bottom: 4em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "scholar-text academic-1 audience-2"
    "academic-2 thinker-text cubes"
    "audience-1 three-four-bars orator-text";
}
.scholar-text {
    grid-area: scholar-text;
    height: 100%;
    position: relative;
}
.photo-grid-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.academic-1 {
    grid-area: academic-1;
}
.academic-2 {
    grid-area: academic-2;
}
.thinker-text {
    grid-area: thinker-text;
    height: 100%;
    position: relative;
}
.three-four-bars {
    grid-area: three-four-bars;
}
.cubes {
    grid-area: cubes;
}
.orator-text {
    grid-area: orator-text;
    height: 100%;
    position: relative;
}
.audience-1 {
    grid-area: audience-1;
}
.audience-2 {
    grid-area: audience-2;
}
.appearing-image {
    box-shadow:  1em 1em 2em .25em rgba(0,0,0,.2);
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}
.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
.hmpg-testimonials {
    grid-area: hmpg-testimonials;
    display: grid;
    gap: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "testimonial-title" 
    "testimonial-1"
    "testimonial-2"
    "testimonial-3"
    "testimonial-4";
}
.testimonial-title {
    grid-area: testimonial-title;
    text-align: center;
    margin-bottom: 2em;
}
.testimonial-1 {
    grid-area: testimonial-1;
}
.testimonial-2 {
    grid-area: testimonial-2;
}
.testimonial-3 {
    grid-area: testimonial-3;
}
.testimonial-4 {
    grid-area: testimonial-4;
}
.test-card {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-auto-rows: auto;
    grid-template-areas: "test-text test-text" "test-bio test-pic";
    padding: 2em;
    gap: 2em;
}
.test-text {
    grid-area: test-text;
}
.test-bio {
    grid-area: test-bio;
    max-width: 18em;
}
.test-pic {
    grid-area: test-pic;
}
.test-card p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.test-card:hover {
    box-shadow: 0 0 2em .25em black;
}

/*@keyframes hover {
    from {box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
        opacity: 0;
        transform: translateY(4em) rotateZ(-5deg);
        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                  opacity .3s .25s ease-out;
        width: 100%;
        will-change: transform, opacity;}
    to {opacity: 1;
        transform: rotateZ(0deg);}
}
.appearing-image {
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    width: 100%;
    animation-name: hover;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    animation-play-state: paused;      
}
.appearing-image:active,
.appearing-image:focus,
.appearing-image:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}*/

.about-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "bio"
    "experience"
    "interests";
}
.side-nav-container {
    grid-area: side-nav;
    text-align: center;
}
#bio, #experience, #interests, .side-nav-container {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
#bio {
    grid-area: bio;
    margin-bottom: 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "bio-title" "precis" "bio-image" "education";
}
.bio-title {
    grid-area: bio-title;
    text-align: center;
}
.precis {
    grid-area: precis;
}
.education {
    grid-area: education;
    text-align: left;
}
.edu-border {
    padding-bottom: 1em;
    border-bottom: 1px solid white;
}
main a {
    color: #e5e5e5;
}
main a:hover {
    color: gray;
}
.bio-image {
    grid-area: bio-image;
}
#experience {
    grid-area: experience;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "experience-title"
    "roles" "achievements" "service";
}
.experience-title {
    grid-area: experience-title;
    text-align: center;
}
.roles {
    grid-area: roles;
}
.achievements {
    grid-area: achievements;
}
.service {
    grid-area: service;
}
#interests {
    grid-area: interests;
    margin-top: 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "interests-title"
    "podcasts" "basketball-hoop" "frisbee" "podcast-mic" "chess" "chess-pawn" "reading" "philosophy-book" "philosophy";
}
.interests-title {
    grid-area: interests-title;
    text-align: center;
}
.chess {
    grid-area: chess;
}
.frisbee {
    grid-area: frisbee;
}
.podcasts {
    grid-area: podcasts;
}
.reading {
    grid-area: reading;
}
.philosophy {
    grid-area: philosophy;
}
.basketball-hoop {
    grid-area: basketball-hoop;
}
.chess-pawn {
    grid-area: chess-pawn;
}
.philosophy-book {
    grid-area: philosophy-book;
}
.podcast-mic {
    grid-area: podcast-mic;
}
.caption {
    font-size: 0.9em;
    color: gray;
    text-align: center;
}

/*newsroom styles*/
.newsroom-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "newsroom-intro" " newsroom-descriptions";
}
.newsroom-title {
    text-align: center;
}
.newsroom-intro, .newsroom-descriptions {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.newsroom-intro {
    grid-area: newsroom-intro;
}
.newsroom-descriptions {
    grid-area: newsroom-descriptions;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.news-snippet {
    background-image: url(img/newspaper-background.jpg);
    background-size: cover;
    padding: 2em;
    width: auto;
}
.news-snippet p, .news-snippet h3, .news-snippet a {
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
}
.news-snippet p {
    margin-top: 1em;
}

/*portfolio styles*/
.portfolio-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "portfolio-intro"
    "projects" "videos"
    "resume-link";
}
.portfolio-title {
    text-align: center;
}
.portfolio-intro, .portfolio-main .projects, .portfolio-main .videos, .resume-link {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.portfolio-intro {
    grid-area: portfolio-intro;
}
.portfolio-main .projects {
    grid-area: projects;
}
.portfolio-main .videos {
    grid-area: videos;
}
.portfolio-main .projects h3, .portfolio-main .videos h3, .portfolio-intro p, .resume-link p {
    text-align: center;
}
.portfolio-pic {
    transform: scale(0.8);
}
.portfolio-pic:hover {
    animation: growPic 200ms ease-in-out both;
}
@keyframes growPic {
    from {transform: scale(0.8);}
    to {transform: scale(1);}
}
.resume-link {
    grid-area: resume-link;
}

/*projects styles*/
.projects-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "projects-intro"
    "publications-list"
    "projects-descriptions";
}
.projects-main h3 {
    text-align: center;
}
.projects-title {
    text-align: center;
}
.projects-intro, .projects-descriptions, .publications-list {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.projects-intro {
    grid-area: projects-intro;
}
.publications-list {
    grid-area: publications-list;
}
.projects-descriptions {
    grid-area: projects-descriptions;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

/*videos styles*/
.videos-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "videos-intro" "videos-description";
}
.videos-title {
    text-align: center;
}
.videos-intro, .videos-description {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.videos-intro {
    grid-area: videos-intro;
}
.videos-description {
    grid-area: videos-description;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

/*contact styles*/
.contact-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "side-nav" "contact-email";
}
.contact-title {
    text-align: center;
}
.contact-email {
    grid-area: contact-email;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 2em;
    padding-right: 2em;
}