* {
    font: inherit;
}
@font-face {
    font-family: Lemon Milk;
    src: url("fonts/LEMONMILK/LEMONMILK-Light.otf");
}
@font-face {
    font-family: Ostritch Sans;
    src: url("fonts/ostrich-sans/OstrichSans-Medium.otf");
}
@font-face {
    font-family: Louis George;
    src: url("fonts/louis_george_caf/Louis\ George\ Cafe.ttf");
}
@font-face {
    font-family: Jost;
    src: url("fonts/Jost/Jost-Regular.ttf");
}
h1 {
    font-family: "Lemon Milk";
    font-size: 2.5em;
    color: white;
}
h2 {
    font-family: "Ostritch Sans";
    font-size: 2.2em;
    letter-spacing: 0.05em;
    color: white;
}
h3 {
    font-family: "Louis George";
    font-size: 1.3em;
    color: white;
}
p {
    font-family: "Jost";
    font-size: 1em;
}
/*.button {
    font-family: "Jost";
    border: none;
    box-shadow: 0px 1px 6px 0px whitesmoke;
    background-color: #263037;
    color: white;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}
@keyframes changeButtonColor {
    from {background-color: #263037; color: white;}
    to {background-color: #7AD7F0; color: #263037;}
}
.button:hover {
    animation: changeButtonColor 200ms ease-in-out both;
}*/
header p, footer p {
    font-size: 0.9em;
}
.centered-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
figure {
    margin: 0;
}
html {
    display: grid;
    background-color: #161c20;
    color: #e5e5e5;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}
header {
    grid-area: header;
    box-shadow: 0px 2px 6px 0px black;
    background-color: black;
}
@media screen and (min-width: 1200px) {
    nav, main {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1000px) {
    .footer-content, .social-links, .footer-message {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "logo about newsroom portfolio contact";
    text-align: center;
}
nav a, footer a {
    text-decoration: none;
    color: gray;
}
nav a:hover, footer a:hover {
    color: #7AD7F0;
}
nav .logo {
    grid-area: logo;
}
nav .logo a img {
    height: 2.25em;
    object-position: left center;
    margin-left: 0.5em;
    margin-top: 0.4em;
}
nav .about {
    grid-area: about;
}
nav .newsroom {
    grid-area: newsroom;
}
nav .portfolio {
    grid-area: portfolio;
}
nav .contact {
    grid-area: contact;
}
footer {
    grid-area: footer;
    background-color: black;
    color: gray;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "footer-content" "social-links" "footer-message";
}
.footer-content {
    grid-area: footer-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "site-logo about-links newsroom-links portfolio-links"
    "site-logo about-links contact-links portfolio-links"
    "social-links social-links social-links social-links"
    "footer-message footer-message footer-message footer-message";
}
.footer-content .site-logo, .footer-content .about-links, .footer-content .newsroom-links, .footer-content .portfolio-links, .footer-content .contact-links {
    text-align: center;
}
.footer-content .site-logo {
    grid-area: site-logo;
}
.footer-content .site-logo img {
    margin-top: 1em;;
    height: 2.25em;
}
.footer-content .about-links {
    grid-area: about-links;
}
.footer-content .newsroom-links {
    grid-area: newsroom-links;
}
.footer-content .portfolio-links {
    grid-area: portfolio-links;
}
.footer-content .contact-links {
    grid-area: contact-links;
}
.social-links {
    grid-area: social-links;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "social-title social-title social-title social-title social-title social-title social-title"
    "youtube linkedin facebook messenger github resume mail"
}
.social-title {
    grid-area: social-title;
}
.youtube, .linkedin, .facebook, .messenger, .resume, .mail {
    position: relative;
}
@keyframes twirl {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(90deg);}
}
.yt-c, .linkedin-c, .fb-c, .messenger-c, .resume-c, .document-c, .mail-c {
    transform: rotateY(90deg);
}
.yt-d, .linkedin-d, .fb-d, .messenger-d, .resume-d, .document-d, .mail-d {
    position: absolute;
}
.youtube:hover .yt-d, .linkedin:hover .linkedin-d, .facebook:hover .fb-d, .messenger:hover .messenger-d, .resume:hover .document-d, .mail:hover .mail-d {
    animation: twirl 0.2s ease-in forwards;
}
.youtube:hover .yt-c, .linkedin:hover .linkedin-c, .facebook:hover .fb-c, .messenger:hover .messenger-c, .resume:hover .document-c, .mail:hover .mail-c {
    animation: twirl 0.2s 0.2s ease-out forwards reverse;
}
.social-links img {
    height: 30px;
}
.youtube {
    grid-area: youtube;
}
.linkedin {
    grid-area: linkedin;
}
.facebook {
    grid-area: facebook;
}
.messenger {
    grid-area: messenger;
}
.github {
    grid-area: github;
}
.resume {
    grid-area: resume;
}
.mail {
    grid-area: mail;
}
.footer-message {
    grid-area: footer-message;
    text-align: center;
    font-size: 0.75em;
}
.footer-heading {
    font-weight: bold;
    font-size: 1em;
}
main {
    grid-area: main;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    text-align: justify;
}
.hmpg-main {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "intro"
    "hmpg-photo-grid"
    "hmpg-testimonials";
}
.intro {
    grid-area: intro;
    position: relative;
    text-align: center;
    margin-bottom: 4em;
}
.intro h1 {
    color: white;
    font-size: 4vw;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
}
.intro p {
    font-size: 1.5vw;
    margin: 0 auto 0 auto;
    background-color: rgba(0,0,0,0.6);
    width: fit-content;
}
@media screen and (max-width: 450px) {
    .intro h1 {
        font-size: 18px;
    }
    .intro p {
        font-size: 6.75px;
    }
}
@media screen and (min-width: 1200px) {
    .intro h1 {
        font-size: 48px;
    }
    .intro p {
        font-size: 18px;
    }
}
.intro-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hmpg-photo-grid {
    grid-area: hmpg-photo-grid;
    text-align: center;
    display: grid;
    gap: 1.5em;
    margin-bottom: 4em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "scholar-text academic-1 audience-2"
    "academic-2 thinker-text cubes"
    "audience-1 three-four-bars orator-text";
}
.scholar-text {
    grid-area: scholar-text;
    height: 100%;
    position: relative;
}
.photo-grid-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.academic-1 {
    grid-area: academic-1;
}
.academic-2 {
    grid-area: academic-2;
}
.thinker-text {
    grid-area: thinker-text;
    height: 100%;
    position: relative;
}
.three-four-bars {
    grid-area: three-four-bars;
}
.cubes {
    grid-area: cubes;
}
.orator-text {
    grid-area: orator-text;
    height: 100%;
    position: relative;
}
.audience-1 {
    grid-area: audience-1;
}
.audience-2 {
    grid-area: audience-2;
}
.appearing-image {
    box-shadow:  1em 1em 2em .25em rgba(0,0,0,.2);
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
    width: 100%;
    will-change: transform, opacity;
}
.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
.hmpg-testimonials {
    grid-area: hmpg-testimonials;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "testimonial-title testimonial-title testimonial-title testimonial-title" "testimonial-1 testimonial-2 testimonial-3 testimonial-4";
}
.testimonial-title {
    grid-area: testimonial-title;
    text-align: center;
    margin-bottom: 2em;
}
.testimonial-1 {
    grid-area: testimonial-1;
}
.testimonial-2 {
    grid-area: testimonial-2;
}
.testimonial-3 {
    grid-area: testimonial-3;
}
.testimonial-4 {
    grid-area: testimonial-4;
}
.test-card p {
    margin: 2em;
}
.test-card:hover {
    box-shadow: 0 0 2em .25em rgba(0,0,0,.2);
}

/*@keyframes hover {
    from {box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
        opacity: 0;
        transform: translateY(4em) rotateZ(-5deg);
        transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                  opacity .3s .25s ease-out;
        width: 100%;
        will-change: transform, opacity;}
    to {opacity: 1;
        transform: rotateZ(0deg);}
}
.appearing-image {
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    width: 100%;
    animation-name: hover;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    animation-play-state: paused;      
}
.appearing-image:active,
.appearing-image:focus,
.appearing-image:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}*/